<main class="d-flex flex-column">

    <section class="hero p-3">

        <!-- <p>{{singleDoctor.user.name}}</p> -->
    </section>

    <section class="main mx-auto d-flex justify-content-between">
        <div class="left-profile gap-2">
            <div class="inner-profile pb-2 mb-2">
                <app-lazy-image 
                    [src]="avatar_file + (user?.passport || '')"
                    [alt]="user?.name || 'Profile'"
                    width="150px"
                    height="150px"
                    borderRadius="50%">
                </app-lazy-image>
                <p-skeleton *ngIf="!user" shape="circle" size="150px"></p-skeleton>
                
                <h1 class="m-2">{{user?.name}}</h1>
                
                <div class="d-flex justify-content-between m-2" *ngIf="professionalType === 'doctor'">
                    <span class="text-secondary">Availability:</span>
                    <div>
                        
                        <form [formGroup]="availabilityGroup">
                            <p-inputSwitch formControlName="checked" />
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-between m-2" *ngIf="professionalType === 'other_professional'">
                    <span class="text-secondary">Professional Type:</span>
                    <span class="fw-bold">{{user.other_professionals?.professional_type}}</span>
                </div>
                
            </div>
            
            <span class="m-2 d-flex gap-2">
                <p-button label="Logout" icon="pi pi-sign-out" severity="danger" [raised]="true" [rounded]="true" (click)="logout()" />
            </span>
        </div>
        <div class="right-profile p-2">
            
            <div class="m-2">
                <div class="d-flex justify-content-between col-12">
                    <div class="col-12">

                        <h1 class="col-12">Profile</h1>
                    </div>
                    <div class="row col-12">

                        <p class="col-6"> <span class="text-secondary">Primary Specialty:</span><br>
                        {{user.doctors?.specialization || user.other_professionals?.specialization}}</p>
                   
    
                        <p class="col-6"><span class="text-secondary">License Number:</span><br>
                        {{user.doctors?.license_number || user.other_professionals?.license_number}}</p>
                    </div>
                    <div class="row col-12" *ngIf="user.other_professionals">
                        <p class="col-12"><span class="text-secondary">Professional Type:</span><br>
                        {{user.other_professionals.professional_type}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between col-12">
                    <b class="col-12">Contact Details</b>

                    <p class="col-3"><span class="text-secondary">Email:</span><br>
                    {{user.email}}</p>
                

                    <p class="col-3"><span class="text-secondary">Phone Number:</span><br>
                    {{user.phoneno}}</p>
                </div>
                <hr>
                <div class="d-flex justify-content-between col-12">
                    <b class="col-3">Experience</b>

                    <p class="col-12"><span class="text-secondary">Education:</span><br>
                    {{user.doctors?.med_school || user.other_professionals?.med_school}}</p>
              
    
                    <p class="col-6"><span class="text-secondary">Practicing since:</span><br>
                    {{user.doctors?.grad_year || user.other_professionals?.grad_year}}</p>
                </div>
            </div>
            <div class="m-2">
                <h1 class="primary-color">Clients' Medical Records</h1>
                <p-table #dt1 dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
                [value]="medicalRecords"  [globalFilterFields]="['nurse.user.name', 'nurses.specialization', 'representative.name', 'status']">

        
                <ng-template pTemplate="caption">
                    <div class="d-flex justify-content-between">
                        <!-- <p-button pRipple label="Clear" size="small" [outlined]="true" icon="pi pi-filter-slash" /> -->
                        

                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>    
                        <th style="min-width:7rem">
                            <div class="flex align-items-center">
                                View
                                <!-- <p-columnFilter type="text" field="name" display="menu" /> -->
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Doctor
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Diagnosis
                            </div>
                        </th>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Treatment
                            </div>
                        </th>

                      

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-medicalRecords>
                    <tr>
                        <td>
                            <p-button label="View" severity="info" [raised]="true"  [rounded]="true" (click)="openMedRecordView(medicalRecords)" />
                        </td>
                        <td>
                            {{medicalRecords?.client.user.name}}

                        </td>
                        <td class="d-flex">
                            {{medicalRecords?.diagnosis}}
                        </td>
                        <td>
                            {{medicalRecords?.treatment}}

                            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + nurses.country.code" style="width: 20px" /> -->
                            <!-- <span class="ml-1 vertical-align-middle">{{ client.user.phoneno }}</span> -->
                        </td>

                       


                    </tr>
                </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No medical records found.</td>
            </tr>
        </ng-template>
        
        
        </p-table>

            </div>
            

            <!-- <span *ngIf="user.clients.appointments"> -->
           


        </div>
    </section>
</main>