<footer class="d-flex justify-content-between p-5">
    <div class="sidea">
<h1>Phoenix.</h1>
<p>Empowering health, Enriching<br>
Your journey to wellness begins here.</p>
<p>Copyright 2023 by Phoenix. All Rights Reserved</p>
    </div>
    <div class="sideb">
        <div class="middle d-flex">
        <a href="" routerLink="/">Home</a>
        <a href="" routerLink="/">Services</a>
        <a href="" routerLink="/">About Us</a>
        <a href="" routerLink="/">Contact Us</a>
    </div>
    <p>123 Galaxy street, Central park, Abuja, Federal <br>Capital Territory, 900001</p>
    </div>
</footer>