<section class="d-flex">

    <section class="main-sect">
    
        <div class="d-flex justify-content-between">
           <h3>Recent Assignment</h3>
           <h4>View all</h4>
        </div>
    
        <div class="appt d-flex">
            <p *ngIf="recentAppt">Patient<br>{{recentAppt.client.user.name}} </p>
            <p *ngIf="recentAppt">Task<br>{{recentAppt.assignment_message}} </p>
            <p *ngIf="recentAppt" class="text-secondary">Doctor<br>{{recentAppt.doctor.user.name}}</p>
        </div>
    
        <div class="cards-sect my-5 d-flex justify-content-between">
            <div class="sub-card d-flex">
                <div class="m-2 d-flex">
                    <span class="my-auto p-3 bi bi-prescription2 fs-5"></span>
                    <div class="m-1">
                        <h1 *ngIf="upc_appt">{{upc_appt.length}}</h1>
                        <p>upcoming<br> appointments</p>
                    </div>
                </div>
            </div>
            
            <div class="sub-card d-flex">
                <div class="m-2 d-flex">
                    <span class="my-auto p-3 bi bi-heart-pulse-fill fs-5"></span>
                    <div class="m-1">
                        <h1>{{appointment.length}}</h1>
                        <p>Number of <br> assignments</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card stat-card mb-4">
            <p-chart type="bar" [data]="data" [options]="options" />
        </div>
    
        <div class="d-flex justify-content-between">
            <h3>Patient Data</h3>
            <h4>View all</h4>
         </div>
         <div class="card">
            <p-table [value]="appointment" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th>S/N</th> -->
                        <th>Client Name</th>
                        <th>Status</th>
                        <th>Assigned by</th>
                        <!-- <th>Date/Time</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-assignment>
                    <tr>
                        <!-- <td>{{ product.serial }}</td> -->
                        <td>{{ assignment.client.user.name }}</td>
                        <td>
                            <p-tag *ngIf="assignment.status == 'pending'" [rounded]="true" severity="warning" value="pending"></p-tag>
                            <p-tag *ngIf="assignment.status == 'Accepted'" [rounded]="true" severity="success" value="Accepted"></p-tag>
                        </td>
                        <td>{{ assignment.doctor.user.name }}</td>
                        <!-- <td>{{ assignment.patient }}</td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>

    <section class="appt-sect">
        <div class="mx-auto calendar justify-content-center">
            <p-calendar 
                class="" 
                [(ngModel)]="date" 
                [inline]="true" 
                [showWeek]="false"
                panelStyle="background-color:blue"
                
               />
                
                
        </div>
        <div class="m-2">
            <hr>
            <h4>Upcoming Appointment</h4>
            <div class="m-1">

                <p-timeline [value]="upc_appt">
                    <ng-template pTemplate="content" let-event>
                        <small class="text-secondary">
                            {{event.status}}
                        </small>                        
                    </ng-template>
                    <ng-template pTemplate="opposite" let-event>
                        <!-- {{event.date}} -->
                    </ng-template>
                </p-timeline>
            </div>
            <br>
            <hr>
            <h4>Previous Appointment</h4>
            <div class="m-1">

                <p-timeline [value]="previousAppointment">
                    <ng-template pTemplate="content" let-event>
                        <small class="text-secondary">
                            {{event.status}}
                        </small>                        
                    </ng-template>
                    <ng-template pTemplate="opposite" let-event>
                        <!-- {{event.date}} -->
                    </ng-template>
                </p-timeline>
            </div>

        </div>
    </section>
</section>


