<section class="d-flex">

    <!-- Loading skeletons -->
    <ng-container *ngIf="loading">
        <section class="main-sect">
            <div class="d-flex justify-content-between">
               <p-skeleton width="40%" height="1.5rem"></p-skeleton>
               <p-skeleton width="80px" height="1rem"></p-skeleton>
            </div>
            <div class="appt d-flex my-2">
                <p-skeleton width="60%" height="1rem" styleClass="m-auto"></p-skeleton>
            </div>
            <div class="cards-sect my-5 d-flex justify-content-between">
                <div class="sub-card d-flex" *ngFor="let i of [1,2]">
                    <div class="m-2 d-flex">
                        <p-skeleton shape="circle" size="3rem" styleClass="my-auto p-3"></p-skeleton>
                        <div class="m-1">
                            <p-skeleton width="3rem" height="2rem"></p-skeleton>
                            <p-skeleton width="8rem" height="1rem" styleClass="mt-1"></p-skeleton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card stat-card mb-4 p-3">
                <p-skeleton width="100%" height="250px"></p-skeleton>
            </div>
            <div class="d-flex justify-content-between">
                <p-skeleton width="30%" height="1.5rem"></p-skeleton>
                <p-skeleton width="80px" height="1rem"></p-skeleton>
             </div>
             <div class="card p-3">
                <p-skeleton width="100%" height="2rem" styleClass="mb-2"></p-skeleton>
                <div *ngFor="let r of [1,2,3,4,5]">
                    <p-skeleton width="100%" height="2.2rem" styleClass="mb-2"></p-skeleton>
                </div>
             </div>
        </section>

        <section class="appt-sect">
            <div class="mx-auto calendar justify-content-center">
                <p-skeleton width="100%" height="300px"></p-skeleton>
            </div>
            <div class="m-2">
                <hr>
                <p-skeleton width="40%" height="1.25rem"></p-skeleton>
                <div class="m-1" *ngFor="let i of [1,2,3]">
                    <p-skeleton width="70%" height="1rem"></p-skeleton>
                    <p-skeleton width="40%" height="1rem" styleClass="mt-1"></p-skeleton>
                </div>
                <br>
                <hr>
                <p-skeleton width="40%" height="1.25rem"></p-skeleton>
                <div class="m-1" *ngFor="let i of [1,2,3]">
                    <p-skeleton width="70%" height="1rem"></p-skeleton>
                    <p-skeleton width="40%" height="1rem" styleClass="mt-1"></p-skeleton>
                </div>
            </div>
        </section>
    </ng-container>

    <!-- Actual content -->
    <ng-container *ngIf="!loading">
    <section class="main-sect">
    
        <div class="d-flex justify-content-between">
           <h3>Recent Assignment</h3>
           <h4>View all</h4>
        </div>
    
        <div class="appt d-flex">
            <p *ngIf="recentAppt">Patient<br>{{recentAppt.client.user.name}} </p>
            <p *ngIf="recentAppt">Task<br>{{recentAppt.assignment_message}} </p>
            <p *ngIf="recentAppt" class="text-secondary">Doctor<br>{{recentAppt.doctor.user.name}}</p>
        </div>
    
        <div class="cards-sect my-5 d-flex justify-content-between">
            <div class="sub-card d-flex">
                <div class="m-2 d-flex">
                    <span class="my-auto p-3 bi bi-prescription2 fs-5"></span>
                    <div class="m-1">
                        <h1 *ngIf="upc_appt">{{upc_appt.length}}</h1>
                        <p>upcoming<br> appointments</p>
                    </div>
                </div>
            </div>
            
            <div class="sub-card d-flex">
                <div class="m-2 d-flex">
                    <span class="my-auto p-3 bi bi-heart-pulse-fill fs-5"></span>
                    <div class="m-1">
                        <h1>{{appointment.length}}</h1>
                        <p>Number of <br> assignments</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="card stat-card mb-4">
            <p-chart type="bar" [data]="data" [options]="options" />
        </div>
    
        <div class="d-flex justify-content-between">
            <h3>Patient Data</h3>
            <h4>View all</h4>
         </div>
         <div class="card">
            <p-table [value]="appointment" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th>S/N</th> -->
                        <th>Client Name</th>
                        <th>Status</th>
                        <th>Assigned by</th>
                        <!-- <th>Date/Time</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-assignment>
                    <tr>
                        <!-- <td>{{ product.serial }}</td> -->
                        <td>{{ assignment.client.user.name }}</td>
                        <td>
                            <p-tag *ngIf="assignment.status == 'pending'" [rounded]="true" severity="warning" value="pending"></p-tag>
                            <p-tag *ngIf="assignment.status == 'done'" [rounded]="true" severity="success" value="Done"></p-tag>
                            <p-tag *ngIf="assignment.status == 'Declined'" [rounded]="true" severity="danger" value="Declined"></p-tag>
                        </td>
                        <td>{{ assignment.doctor.user.name }}</td>
                        <!-- <td>{{ assignment.patient }}</td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>

    <section class="appt-sect">
        <div class="mx-auto calendar justify-content-center">
            <p-calendar 
                class="" 
                [(ngModel)]="date" 
                [inline]="true" 
                [showWeek]="false"
                panelStyle="background-color:blue"
                
               />
                
                
        </div>
        <div class="m-2">
            <hr>
            <h4>Upcoming Appointment</h4>
            <div class="m-1">

                <p-timeline [value]="upc_appt">
                    <ng-template pTemplate="content" let-event>
                        <small class="text-secondary">
                            {{event.assignment_message}}
                        </small>                        
                    </ng-template>
                    <ng-template pTemplate="opposite" let-event>
                        {{event.client.user.name}}
                    </ng-template>
                </p-timeline>
            </div>
            <br>
            <hr>
            <h4>Previous Appointment</h4>
            <div class="m-1">

                <p-timeline [value]="previousAppointment">
                    <ng-template pTemplate="content" let-event>
                        <small class="text-secondary">
                            {{event.assignment_message}}

                        </small>                        
                    </ng-template>
                    <ng-template pTemplate="opposite" let-event>
                        {{event.client.user.name}}
                    </ng-template>
                </p-timeline>
            </div>

        </div>
    </section>
    </ng-container>
</section>


