<p-toast></p-toast>

<div class="messages-container">
    <app-loader></app-loader>

    <div class="m-3">
        <h3 class="text-primary mb-3">Messages</h3>
        <div class="convo-list d-flex flex-column">
            <div class="list-hold" *ngFor="let conversation of conversations">
                <ul (click)="showDialog(conversation)" class="p-3 border d-flex align-items-center">    
                    <div class="passport">
                        <img *ngIf="conversation.user_two_id == this.id" src="{{ avatar_file + conversation.user_one.passport}}">
                        <img *ngIf="conversation.user_one_id == this.id" src="{{ avatar_file + conversation.user_two.passport}}">
                    </div>
                    <div class="conversation-preview">
                        <span class="fw-bold d-block" *ngIf="conversation.user_one_id == this.id">
                            {{conversation.user_two.name}}
                        </span>
                        <span class="fw-bold d-block" *ngIf="conversation.user_two_id == this.id">
                            {{conversation.user_one.name}}
                        </span>
                        <span class="message-preview">{{conversation.last_message}}</span>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <p-dialog [modal]="true" [showHeader]="false" [(visible)]="visible" [style]="{ width: '50rem' }">
        <div class="head d-flex align-items-center">
            <button pButton class="p-button-text text-white me-3" icon="bi bi-arrow-left" (click)="visible=false"></button>
            <div class="passport me-2">
                <img src="{{ avatar_file + chatDp}}">
            </div>
            <h5 class="fw-bold m-0">{{chatName}}</h5>
        </div>
        
        <div #messageContainer class="chat-container">
            <div class="message-container" *ngFor="let message of messages">
                <div [ngClass]="message.sender_id == this.id ? 'user-message' : 'bot-message'">
                    <div class="message-bubble">
                        <p class="m-0">{{ message.message }}</p>
                        <span class="message-time">{{ message.created_at | date:'MMM d, yyyy, h:mm:ss a' }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-container">
            <input pInputText [(ngModel)]="newMessage" placeholder="Type your message..." (keyup.enter)="sendMessage()"/>
            <button pButton type="button" icon="bi bi-send-fill" (click)="sendMessage()"></button>
        </div>
    </p-dialog>
</div>
