<p-toast  [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<div class=" holder">

    <app-side-nav></app-side-nav> 

    <!-- MAIN PANEL -->
    <div class="header">
        <div class="d-flex  d-ovr justify-content-between p-3">
            <h4>Dashboard Overview</h4>
            <div class="d-flex">
                <div class="passport">
                    <img  src="{{ avatar_file + user.passport }}">
                </div>
                <div>

                    <p><b>{{user.name}}</b></p>
                    <small>{{user.user_type}}</small>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>   
    <div class="mob-nav">
        <a routerLinkActive="active"  [routerLinkActiveOptions]={exact:true}  class="bi bi-columns-gap" routerLink="doctor-panel">
            
        </a>
        <a routerLinkActive="active"  class="bi bi-prescription2" routerLink="doctor-appointment">

        </a>
        <a routerLinkActive="active"  class="bi bi-chat-right-text-fill" routerLink="messages">

        </a>
    </div>
</div>
