<!-- ******HERO******* -->

<div class="hero ">
    <div class="herobody ps-5 pe-5 pt-5 d-flex justify-content-between">
        <div class="herotext pt-5 col-9 d-flex justify-content-between flex-column">
            <div class>
                <h1 class="herotext mt-5">
                    Your Health is Our Priority <br>here at Phoenix Med
                </h1>

                <p>Providing Compassionate care, Cutting-edge technology, and a commitment to your well-being for a <br>
                    healthier tomorrow and experience excellence in healhcare with our comprehensive services</p>
                    <div class="herobtns d-flex">
                        <button class="btn btn-bw" routerLink="login">
                            Get Started
                        </button>
                        <button class="btn btn-wb">
                            Learn More
                        </button>
                    </div>
            </div>
            <div class="heroglass text-center   d-flex mt-auto justify-content-around">
                <div>
                    <h1>
                        500+
                    </h1>
                    <p>
                        Hospitals<br> Served
                    </p>
                </div>
                <div>
                    <h1>
                        50K+
                    </h1>
                    <p>
                        Active<br> Users
                    </p>
                </div>
                <div>
                    <h1>
                        99.9%
                    </h1>
                    <p>
                        System<br> Uptime
                    </p>
                </div>
            </div>
        </div>
        <div  class="herodoctor d-flex ">
            <img [@slide] alt="" class="justify-content-end ms-auto img-fluid" src="../../assets/heroimg2.png">
        </div>
    </div>
</div>

<!-- ******SERVICES******* -->

<div class="services text-center my-2">
    <p>Services</p>
    <h1 class="px-2">We offer you the best <span class="">services</span></h1>
    <div class="servicecards flex-wrap co-12 d-flex">
        <div class="border p-3 box-shadow-hover rounded-2 m-5   text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/onlineappointment.png">
            </div>
            <h3>Online Appointment</h3>
            <p>We are equipped with advanced technology (E-Health) to ensure effective treatments procedures.</p>
        </div>
        <div class="border p-3 box-shadow-hover rounded-2 m-5  text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/uil_ambulance.png">
            </div>
            <h3>Emergency Cases</h3>
            <p>We value your time and strive to prove timely and efficient care, minimizing risks and waiting.</p>
        </div>
        <div class="border p-3 box-shadow-hover rounded-2 m-5 text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/patientapproach.png">
            </div>
            <h3>Patient-Centered approach</h3>
            <p>We believe in a patient-centered approach, where you are actively in your healthcare decisions. </p>

        </div>
    </div>
</div>

<!-- ******FEATURES******* -->

<div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="features d-flex flex-column mx-auto text-center m-5">
    <p>Features</p>
    <h1>Why <span class="">choose</span> us</h1>
    <div class="featureset1 p-2 d-flex flex-wrap justify-content-center">
        <img alt="" class="m-auto img-fluid" src="../../assets/servicenurse1.png">
        <div class="set1context p-2 m-auto ">
            <h4>Advancing <span>HealthCare</span> with Technology</h4>
            <p class="">Simplify appointment scheduling, minimize wait times and optimize<br> resource allocation for improved
                patient flow and satisfaction by digitalizing <br>and securely storing patient records and focusing on
                quality care for patients </p>
            <button class="btn btn-bw">Learn More</button>
        </div>
    </div>
    <div class="featureset2 p-2 d-flex flex-wrap  justify-content-center">
        <div class="setcontext  m-auto ">
            <h4>Expertise and <span>Excellence</span> in HealthCare</h4>
            <p>With a team of highly skilled doctors, nurses, and specialists, <br>we offer exceptional medical
                expertise and strive for excellence in every aspect of patient <br>care therefore giving them the best
                care they require </p>
            <button class="btn btn-bw">Learn More</button>

        </div>
        <img alt class="m-auto" src="../../assets/servicenurse2.png">

    </div>
</div>
<!-- ******TESTIMONIALS******* -->

<div class="testimonials text-center  ">
    <p>Testimonials</p>
    <h1>What our <span class="text-blue">Patients</span> say about us</h1>
    <div class=" bghold ">
        <p class=" testimonialbg text-center ">
            From the moment I stepped into Phoenix, I was greeted with warmth
            and compassion. The doctors and nurses took excellent care of me making
            sure I understood every step of the treatment. However, what amazed me
            most is the efficiency of their hospital
            management system. It made my experience smoother and hassle-free.
            The way the system ensured that my appointments were scheduled promptly,
            and my medical records made easily accessible really shocked me.
            The whole process was seamless and I’m really grateful. Highly recommended!
            <br><span class="float-right"><b>Mary Jane, 46</b></span>

        </p>
    </div>
    <button class="btn btn-wb">Get Started</button>
</div>

<!-- ******ABOUT******* -->

<div class="about ">
    <p class="text-center">About Us</p>
    <h1 class="text-center">Get to <span class="text-blue">know us</span></h1>
    <div class="aboutbod m-5 d-flex flex-wrap gap-4 justify-content-center">
        <img alt="" class="ms-auto image-fluid" src="../../assets/laughingdoc.png">
        <div class="abouttext  me-auto my-auto ">
            <h4>
                Elevate your Health with streamlined <br>
                processes here at <span class="text-blue">Phoenix.</span>
            </h4>
            <p>
                We are a leading healthcare institution committed to providing exceptional <br>
                medical care and medical care and improving the well-being of our patients.<br>
                With a team of highly skilled healthcare professionals and state-of-the-art <br>
                facilities, we strive to deliver compassionate and personalized care to each <br>
                and every individual who walks through our doors.
            </p>
            <button class="btn btn-bw">Learn More</button>
        </div>
    </div>
</div>

<!-- ******SUBSCRIBE******* -->

<div class="subscribe text-center rounded-3 ">
    <p>Subscribe to our NewsLetter</p>
    <h1>Get the <span class="text-blue">latest</span> health<span class="text-blue"> updates</span> from us</h1>
    <span class="input p-3 rounded-3"><input type="text" placeholder="Enter your email"/><button class="btn btn-wb mb-3">Subscribe</button></span>
</div>