<div class="hero">
    <div class="herobody ps-5 pe-5 pt-5 d-flex  justify-content-between">
        <div class="herotext col-9 flex-column mx-auto text-center">
            <h1 class=" mt-5 wh1">
                Welcome to Phoenix Hospital
            </h1>
            <p  class="mb-5">We are a dedicated team of healthcare professionals committed to providing exceptional care and making and a
                 positive impact in the lives of our patients.</p>
   
        </div>
   </div>
</div>
<div>
    <div class="p-5">
    <h3 class=" mt-5">
        Phoenix, a trusted healthcare partner that makes a positive impact on the lives of individuals and the community served.
    </h3> 
    <p class="mt-5">
        We are more than just a hospital; we are a dedicated team of healthcare professionals committed to providing exceptional care<br>
         and making a positive impact in the lives of our patients. What sets us apart is our team of highly skilled doctors, nurses, and staff who<br>
          are passionate about what they do. We continuously invest in their professional development to ensure that they are equipped with the latest knowledge<br>
           and expertise to deliver the best possible care. We believe in the power of collaboration and have fostered strong partnerships with leading healthcare<br>
            institutions and organizations. This allows us to provide comprehensive and integrated care to our patients, ensuring seamless transitions and continuity of care.<br>
             Patient satisfaction is at the heart of everything we do. We value your feedback and continuously work to improve our services and enhance the patient experience. Your health and well-being are our top priorities.
    </p>
</div>
</div>
<div class="services text-center my-2">
    <p>Services</p>
    <h1 class="px-2">Our Mission, Vision and <span class="">Values</span></h1>
    <div class="servicecards flex-wrap co-12 d-flex">
        <div class="border p-3 box-shadow-hover rounded-2 m-5   text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/mission.png">
            </div>
            <h3>Our Mission</h3>
            <p>Our mission is to deliver  healthcare services with a focus on excellence and innovation.</p>
        </div>
        <div class="border p-3 box-shadow-hover rounded-2 m-5  text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/vision.png">
            </div>
            <h3>Our Vision</h3>
            <p>Our vision is to be the leading healthcare provider, recognized for technology in healthcare</p>
        </div>
        <div class="border p-3 box-shadow-hover rounded-2 m-5 text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/values.png">
            </div>
            <h3>Our Values</h3>
            <p>Compassion, Excellence, Integrity, Innovation and technology in healthcare </p>

        </div>
    </div>
</div>
<div class="services d-flex flex-column  my-2 mx-2">
    <h1 class="px-2 m-auto">Our <span class="">Core </span>Objectives</h1>
    <p class="m-auto p-5">
        At Phoenix Hospital, our core objective is to provide exceptional healthcare services with a <br>
        focus on patient-centered care. We strive to deliver the highest quality medical treatments and procedures,<br>
         utilizing advanced technology and evidence-based practices. Our dedicated team of healthcare professionals is committed<br>
          to ensuring the well-being and satisfaction of our patients. We aim to foster a supportive environment where every<br>
           individual feels valued and cared for. Together, we work towards improving the health and lives of our community
    </p>
   
</div>

<div class="testimonials text-center m-2 ">
    <p>Testimonials</p>
    <h1>What our <span class="text-blue">Patients</span> say about us</h1>
    <div class=" bghold ">
        <p class=" testimonialbg text-center ">
            From the moment I stepped into Phoenix, I was greeted with warmth
            and compassion. The doctors and nurses took excellent care of me making
            sure I understood every step of the treatment. However, what amazed me
            most is the efficiency of their hospital
            management system. It made my experience smoother and hassle-free.
            The way the system ensured that my appointments were scheduled promptly,
            and my medical records made easily accessible really shocked me.
            The whole process was seamless and I’m really grateful. Highly recommended!
            <br><span class="float-right"><b>Mary Jane, 46</b></span>

        </p>
    </div>
    <button class="btn btn-wb">Get Started</button>
</div>
<div class="team d-flex m-2 justify-content-around">
<div class="card">
    <img src="../../assets/teamdoc1.png" alt="">
    <div class="cardtext text-center">
        <p>
            <b>
                Grace Adewale<br>
            </b>
            Lead Neurologist
        </p>
    </div>
</div>
<div class="card">
    <img src="../../assets/teamdoc2.png" alt="">
    <div class="cardtext text-center">
        <p>
            <b>
                Ololade Asake<br>
            </b>
            Lead Oncologist
        </p>
    </div>
</div>
<div class="card">
    <img src="../../assets/teamdoc3.png" alt="">
    <div class="cardtext text-center">
        <p>
            <b>
                Jason Coker<br>
            </b>
            Lead Endocrinologist
        </p>
    </div>
</div>
</div>

