
<p-toast></p-toast>
<div class="  d-flex ">
    <div class="holder shadow-lg  m-auto d-flex justify-content-center">
        <div class="  sideA">
            <div class="innersideA  d-flex ">
                <!-- <img src="../../assets/logdoctor.png" class="m-auto" alt=""> -->
                <div class="text px-3 mt-auto">
                    <h3>
                        Revolutionizing Healthcare <br>with E-health
                    </h3>
                    <p>
                        E-health involves the digital storage and exchange
                        of health information,<br> telemedicine and other digital
                        health services! <br>Patients and our professionals can
                        collaborate remotely <br>therefore making overall healthcare
                        delivery more convenient
                    </p>
                </div>
            </div>
        </div>
        <div class="form d-flex flex-column m-auto p-5">
            <h3>Welcome Back!</h3>
            <p>Enhancing your health and Safety</p>
            <button class="btn btn-lg  mx-auto border btn-hover"><img
                    src="../../assets/flat-color-icons_google.png" alt="">&nbsp; Log in with Google </button>
            <p-divider align="center" type="dotted">
                <b>Or</b>
            </p-divider>
            <form [formGroup]="LoginForm">
                <div class="flex flex-column gap-2">
                    <label for="email">Email</label><br>
                    <input formControlName="email" name="email" type="email" pInputText id="email" aria-describedby="username-help" />
                </div>
                <div class="flex flex-column gap-2">
                    <label for="password">Password</label><br>
                    <input formControlName="password" name="password" type="password" pInputText id="password" aria-describedby="username-help" />
                </div>
                <button class="btn btn-lg submit border text-center btn-hover" (click)="login()">Submit </button>

            </form>
            <p>Don't have an account? <a routerLink="../register">Register</a></p>
        </div>
    </div>
</div>