
<div class="hero ">
    <div class="herobody ps-5 pe-2 pt-5 d-flex justify-content-between">
        <div class="herotext col-9 pt-5 d-flex flex-column">
            <h1 class="herotext wh1 mt-5">
                You've got questions, we've <br>got answers
            </h1>
            <p>Ask us any questions you might have! We work seamlessly with our
                <br> patients and endeavor to answer all inquiries within 24 hours.</p>            
        </div>
        <div class="herodoctor mt-3 d-flex ">
            <img alt="" class="justify-content-end img-fluid" src="../../assets/contactdoctor.png">
        </div>
    </div>
</div>
<div class="services text-center my-2">
    <p>Contact Us</p>
    <h1 class="px-2">We <span class="">love</span> to hear from<span class=""> you!</span> </h1>
    <div class="servicecards flex-wrap co-12 d-flex">
        <div class="border p-3 box-shadow-hover rounded-2 m-5   text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/phone.png">
            </div>
            <h3>lets talk on the phone</h3>
            <p>Give us a call at <span class="">08123456789</span>  to speak directly with our friendly staff and we will assist you.</p>
        </div>
        <div class="border p-3 box-shadow-hover rounded-2 m-5  text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/mail.png">
            </div>
            <h3>Send us an email</h3>
            <p>you can send us an email at <span class="">thephoenixhospital&#64;gmail.com.</span> Feel free to share your inquiries.</p>
        </div>
        <div class="border p-3 box-shadow-hover rounded-2 m-5 text-center d-flex flex-column">
            <div class=" mx-auto cardimg p-4 rounded-circle  image-fluid">
                <img alt="" src="../../assets/location.png">
            </div>
            <h3>Visit us at our locations</h3>
            <p>Visit our headquarters, <span class="">123 Galaxy street, Central park, Abuja, Federal Capital Territory.</span> </p>

        </div>
    </div>
</div>
<div class="card shadow-sm p-5 m-5">
    <div class="innercard m-5">
        <p class="text-center">Direct questions</p>
        <h3 class="text-center">Leave us your question, enquiries<br> or feedbacks</h3>
        <div class=" m-5">
            <label>
                Your Name
            </label><br>
            <input type="text" class="form-control">
        </div>
        <div class=" m-5">
            <label>
                Your Email
            </label><br>
            <input type="text" class="form-control">
        </div>
        <div class=" m-5">
            <label>
                Your Question
            </label><br>
            <textarea  class="form-control"></textarea>
        </div>
        <div class=" button m-5">
            <button class="btn btn-wb btn-lg btn-block">Submit</button>
        </div>
       
    </div>
</div>
