<!-- <ngx-spinner bdColor = "#fff" size = "medium" color = "#17224d" [fullScreen] = "true"><div style="color: #17224d" class="d-flex vh-100" > <span class="bi bi-heart-pulse pulse m-auto"></span> </div></ngx-spinner> -->

<div [@routeAnimations]="getRouteAnimationData()">
<ng-container *ngIf="shouldShowNavbarAndFooter()">
    <app-nav-bar></app-nav-bar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </ng-container>
    <ng-container *ngIf="!shouldShowNavbarAndFooter()">
      <router-outlet></router-outlet>
    </ng-container>
  </div>