<div class="side-body justify-content-between p-3 dt-view">
    <div class="top">
        <div class="d-flex justify-content-between gap-5 mb-3">
            <h5>Phoenix.</h5>
            <span class="bi bi-house-door cursor-pointer" routerLink="../">
                    
            </span>
        </div>
        <div *ngFor="let navType of nav_type">
            <ng-container *ngIf="!navType.isDropdown; else dropdownMenu">
                <button routerLinkActive="active"
                        class="{{navType.navClassName}}"
                        (click)="onNavClick(navType)"
                        [routerLink]="navType.action ? null : navType.routerLink"
                        [routerLinkActiveOptions]="{exact:true}">
                    &nbsp;&nbsp;{{navType.title}}
                </button>
            </ng-container>

            <ng-template #dropdownMenu>
                <button class="{{navType.navClassName}} side-dropdown-trigger"
                        (click)="toggleDropdown(navType)">
                    <span>&nbsp;&nbsp;{{navType.title}}</span>
                    <i class="bi"
                       [ngClass]="navType.expanded ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
                </button>

                <div class="side-dropdown-list" *ngIf="navType.expanded">
                    <button *ngFor="let child of navType.children"
                            routerLinkActive="active"
                            class="{{child.navClassName}}"
                            [routerLink]="child.routerLink"
                            [queryParams]="child.queryParams"
                            [routerLinkActiveOptions]="{exact:true}">
                        &nbsp;&nbsp;{{child.title}}
                    </button>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="bottom" *ngIf="user">
        <p class="bi bi-chat-right">&nbsp; Support</p>
        <hr>
        <p>
            {{user?.name}}
        </p>
        <small>{{user?.email}}</small>
    </div>
</div>
