<div class="side-body justify-content-between p-3 dt-view">
    <div class="top">
        <div class="d-flex justify-content-between gap-5 mb-3">
            <h5>Amor Cuidado .</h5>
            <span class="bi bi-house-door cursor-pointer" routerLink="../login">
                    
            </span>
        </div>
        <div *ngFor="let navType of nav_type"  >
    
            <button routerLinkActive="active" class="{{navType.navClassName}}" routerLink="{{navType.routerLink}}" [routerLinkActiveOptions]={exact:true}>
                &nbsp;&nbsp;{{navType.title}}
            </button>
    
        </div>
        
    </div>

    <div class="bottom">
        <p class="bi bi-chat-right">&nbsp; Support</p>
        <hr>
        <p>
            {{user.name}}
        </p>
        <small>{{user.email}}m</small>
    </div>
</div>
