@media (min-width: 500px){
    .burger{
        display: none;
    }
}
@media (max-width: 699px){
    .middle, .end {
        display: none;
    }
    .no-view{
        display: none !important;
    }
}
@media (max-width: 500px){
    header{
        height: 60px !important;
        padding: 7px 2px 2px 5px !important;

    }
    header .burger{
        justify-content: flex-start;
    }

}


.middle a:hover{
    border-bottom: 2px solid white;
    transition: 0.4s;
}

.middle a {
    margin: 30px;
}

.resnav a {
    text-decoration: none;
    color: #17224d;
    margin: 20px;
}

.resnav{
    justify-content:center ;
    display: flex;
    flex-direction: column;
   

}
.active{
    border-bottom: 2px solid white;

}

.passport-nav {
    padding: 5px;
    border: 1px solid #17224d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.passport-nav:hover {
    transform: scale(1.1);
}

.passport-nav img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

