    <div>
    
    

    <header class="d-flex justify-content-between container-fluid px-5 pt-3">
        <div class="start">
            <h2 class="text-white">Amor Cuidado.</h2>
            <!-- <img alt="" src="../../assets/Amor Cuidado .png"> -->
        </div>
        <div class="middle ">
            <a href="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} routerLink="">Home</a>
            <a href="" routerLinkActive="active" routerLink="services">Services</a>
            <a href="" routerLinkActive="active" routerLink="about">About Us</a>
            <a href="" routerLinkActive="active" routerLink="contact">Contact Us</a>
            
        </div>
        <button class="burger bi bi-list btn btn-bw mb-2 me-2" (click)="openFullscreen(content)"></button>
        <div class="end">
            <button class="btn btn-bw"  (click)="login()">Appointment</button>
        </div>
        
    </header>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            Amor Cuidado .
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body mx-auto resnav">
        <a href="" (click)="modal.close('Close click')" routerLink="">Home</a>
        <a href="" (click)="modal.close('Close click')" routerLink="services">Services</a>
        <a href="" (click)="modal.close('Close click')" routerLink="about">About Us</a>
        <a href="" (click)="modal.close('Close click')" routerLink="contact">Contact Us</a>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click') || login()">Appointment</button>
    </div>
</ng-template>
