<div>
    
    <header class="d-flex justify-content-between container-fluid p-4">
        <div class="start">
            <img alt="" src="../../assets/Phoenix.png">
        </div>
        <div class="middle ">
            <a href="" routerLink="/">Home</a>
            <a href="" routerLink="/">Services</a>
            <a href="" routerLink="/">About Us</a>
            <a href="" routerLink="/">Contact Us</a>

        </div>
        <div class="end">
            <button class="btn btn-bw">Get Started</button>
        </div>
        <div class="card flex justify-content-center">
            <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>
            <p-dialog [breakpoints]="{ '960px': '75vw' }" header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw'}" [draggable]="false" [resizable]="false">
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p-dialog>
        </div>
    </header>
</div>
