section{
    width:95%;
    margin-left:3% ;
    margin-top: 3%;
}

.passport {
    padding: 5px;
    border: 1px solid #17224d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.passport img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.sub-card{
    border: 1px solid #17224d;
    border-radius: 7px;
    width: 30%;
}

:host {
    ::ng-deep .p-button {
        background-color: #17224d !important;
        color: white !important;
        border: 0;
        border-radius: 5px;
        
    } 
    ::ng-deep .p-calender{

    }
}