<div class="hero">
    <div class="herobody ps-5 pe-5 pt-5 d-flex justify-content-between">
        <div class="herotext col-9 p-5 ms-auto flex-column">
            <h1 class=" mt-5 wh1">
                Providing Quality HealthCare
            </h1>
            <p  class="mb-5">We are dedicated to providing exceptional healthcare services to our patients.</p>
   
        </div>
        
    </div>
</div>
<div class="features d-flex flex-column mx-auto text-center m-5">
    <p>Services</p>
    <h1>We offer a wide range of <span class="">services</span> to meet your needs</h1>
    <div class="featureset1 p-2 d-flex flex-wrap justify-content-center">
        <img alt="" class="m-auto img-fluid" src="../../assets/nursewithpatient.png">
        <div class="set1context p-2 m-auto ">
            <h4>Specialized <span>Departments</span></h4>
            <p class="">We are equipped with specialized department staffed by expert<br>
                 healthcare professionals. Whether you require cadiology, pediatrics, <br>
                 ortipedics or any other speciality, We have you covered. </p>
            <button class="btn btn-bw">Learn More</button>
        </div>
    </div>
    <div class="featureset2 p-3 d-flex flex-wrap  justify-content-center">
        <div class="setcontext  m-auto ">
            <h4><span>Diagnostic</span> Imaging</h4>
            <p>We offer the state-of-art diagnostics imaging services, including X-Rays,<br>
                 CT scans, MRI scans and ultrasound. Our advanced imaging technology helpsa in<br>
                  accurate diagnosis and treatment planning </p>
            <button class="btn btn-bw">Learn More</button>

        </div>
        <img alt class="m-auto" src="../../assets/physiotherapy.png">

    </div>
    <div class="featureset1 p-2 d-flex flex-wrap justify-content-center">
        <img alt="" class="m-auto img-fluid" src="../../assets/masked.png">
        <div class="set1context p-2 m-auto ">
            <h4>Advanced <span>Treatments</span></h4>
            <p class="">At Phoenix, we stay at the forefront of medical advancements.<br> 
                We offer cutting-edge treatments and therapies to address a wide range of<br>
                 health conditions ensuring that our patients receive the most effective care available </p>
            <button class="btn btn-bw">Learn More</button>
        </div>
    </div>
    <div class="featureset2 p-3 d-flex flex-wrap  justify-content-center">
        <div class="setcontext  m-auto ">
            <h4><span>Emergency</span> Care</h4>
            <p>Our emergency department is open 24/7, providing immediate medical attention to<br>
                 patients in critical conditions. Our highly trained emergency medical team is ready 
                 <br>to handle any medical emergency that comes through our doors. </p>
            <button class="btn btn-bw">Learn More</button>

        </div>
        <img alt class="m-auto" src="../../assets/emergency.png">

    </div>
    <div class="featureset1 p-2 d-flex flex-wrap justify-content-center">
        <img alt="" class="m-auto img-fluid" src="../../assets/surgery.png">
        <div class="set1context p-2 m-auto ">
            <h4>Surgical <span>Services</span></h4>
            <p class="">Our skilled surgeons perform a variety of procedures, from surgeries <br>
                to complex interventions. We prioritize patient safety and utilize modern surgical <br>
                techniques to ensure the best possible outcomes</p>
            <button class="btn btn-bw">Learn More</button>
        </div>
    </div>
</div>