<p-dialog header="Appointment Details" [(visible)]="apptDetails" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" styleClass="modern-dialog">
    <ng-template pTemplate="header">
        <div class="dialog-header">
            <h2>Appointment Details</h2>
            <p-button icon="pi pi-times" (click)="apptDetails=false" styleClass="p-button-rounded p-button-text"></p-button>
        </div>
    </ng-template>
    
    <div class="appointment-container" *ngIf="singleAppt">
        <!-- Client Info Section -->
        <div class="client-section">
            <div class="client-header">
                <div class="avatar-container">
                    <img [src]="avatar_file + singleAppt.client.user.passport" alt="Client Photo" class="client-avatar">
                </div>
                
                <div class="status-badge" [ngClass]="{
                    'status-pending': singleAppt.status === 'pending',
                    'status-accepted': singleAppt.status === 'Accepted',
                    'status-declined': singleAppt.status === 'Declined'
                }">
                    {{ singleAppt.status }}
                </div>
            </div>
            
            <div class="client-details">
                <div class="detail-row">
                    <h3 class="client-name">{{ singleAppt.client.user.name }}</h3>
                </div>
                
                <div class="detail-row">
                    <div class="detail-icon">
                        <i class="pi pi-calendar"></i>
                    </div>
                    <div class="detail-content">
                        <span class="detail-label">Appointment Date</span>
                        <span class="detail-value">{{ singleAppt.date_time | date:'medium' }}</span>
                    </div>
                </div>
                
                <div class="detail-row">
                    <div class="detail-icon">
                        <i class="pi pi-phone"></i>
                    </div>
                    <div class="detail-content">
                        <span class="detail-label">Phone</span>
                        <span class="detail-value">{{ singleAppt.client.user.phoneno }}</span>
                    </div>
                </div>
                
                <div class="detail-row">
                    <div class="detail-icon">
                        <i class="pi pi-envelope"></i>
                    </div>
                    <div class="detail-content">
                        <span class="detail-label">Email</span>
                        <span class="detail-value">{{ singleAppt.client.user.email }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Complaints Section -->
        <div class="complaints-section">
            <h4 class="section-title">Complaints</h4>
            <p class="complaints-text">{{ singleAppt.symptoms }}</p>
        </div>
        
        <!-- Action Buttons -->
        <div class="action-buttons">
            <ng-container *ngIf="singleAppt.status === 'pending'">
                <p-button 
                    label="Accept" 
                    icon="pi pi-check" 
                    [disabled]="btnDisable" 
                    styleClass="p-button-raised p-button-success" 
                    (click)="status(singleAppt.id, 'Accepted')">
                </p-button>
                
                <p-button 
                    label="Decline" 
                    icon="pi pi-times" 
                    [disabled]="btnDisable" 
                    styleClass="p-button-raised p-button-danger" 
                    (click)="status(singleAppt.id, 'Declined')">
                </p-button>
            </ng-container>
            
            <ng-container *ngIf="singleAppt.status === 'Accepted' || singleAppt.status === 'Declined'">
                <p-button 
                    label="Cancel" 
                    icon="pi pi-undo" 
                    [disabled]="btnDisable" 
                    styleClass="p-button-raised p-button-warning" 
                    (click)="status(singleAppt.id, 'pending')">
                </p-button>
            </ng-container>
            
            <p-button 
                label="View Profile" 
                icon="pi pi-user" 
                styleClass="p-button-raised p-button-info" 
                routerLink="../clients/profile/{{singleAppt.client.id}}">
            </p-button>
        </div>
    </div>
</p-dialog>

<section>
    <div class="cards-sect my-5 d-flex justify-content-between">
        <div class="sub-card d-flex">
            <div class="m-2 d-flex text-warning">
                <span class="my-auto p-3 bi bi-prescription2 fs-5"></span>
                <div class="m-1 ">
                    <h1>{{pendingAppointment}}</h1>
                    <p class="">Pending<br> appointments</p>
                </div>
            </div>
        </div>
        <div class="sub-card d-flex">
            <div class="m-2 d-flex text-success">
                <span class=" my-auto p-3 bi bi-person-square fs-5"></span>
                <div class="m-1">
                    <h1>{{acceptedAppointment}}</h1>
                    <p>Accepted<br> appointments</p>
                </div>
            </div>
        </div>
        <div class="sub-card d-flex">
            <div class="m-2 d-flex text-danger">
                <span class="my-auto p-3 bi bi-heart-pulse-fill fs-5"></span>
                <div class="m-1">
                    <h1>{{declinedAppointment}}</h1>
                    <p>Declined <br> appointments</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

    <p-table #dt1 [value]="appointment" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        [globalFilterFields]="['doctor.user.name', 'doctors.specialization', 'representative.name', 'status']">


        <ng-template pTemplate="caption">
            <div class="flex">
                <p-button pRipple label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue"
                        (input)="dt1.filterGlobal($event.target?.addEventListener, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:7rem">
                    <div class="flex align-items-center">
                        View
                        <!-- <p-columnFilter type="text" field="name" display="menu" /> -->
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Client Name
                        <p-columnFilter type="text" field="name" display="menu" />
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Date and Time
                        <p-columnFilter type="text" field="country.name" display="menu" />
                    </div>
                </th>
                <th style="min-width:5rem">
                    <div class="flex align-items-center">
                        Status
                        <!-- <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                    <ng-template pTemplate="header">
                        <div class="px-3 pt-3 pb-0">
                            <span class="font-bold">Agent Picker</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [(ngModel)]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                            <ng-template let-option pTemplate="item">
                                <div class="inline-block vertical-align-middle">
                                    <img [alt]="option.label" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}" width="24" class="vertical-align-middle" />
                                    <span class="ml-1 mt-1">{{ option.name }}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter> -->
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Phone Number
                        <p-columnFilter type="date" field="date" display="menu" />
                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointments>
            <tr>
                <td>
                    <p-button label="View" severity="info" [raised]="true" [rounded]="true"
                        (click)="viewAppt(appointments.id)" />
                </td>
                <td class="d-flex">
                    <div class="passport">
                        <img src="{{ avatar_file + appointments.client.user.passport }}">
                    </div>
                    {{ appointments.client.user.name}}
                </td>
                <td>
                    <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + doctors.country.code" style="width: 20px" /> -->
                    <span class="ml-1 vertical-align-middle">{{appointments.date_time }}</span>
                </td>
                <td>
                    <!-- <img [alt]="doctors.representative.name" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ doctors.representative.image }}" width="32" style="vertical-align: middle" /> -->
                    <!-- <span *ngIf="!doctor.availability">Unavailable</span> -->
                    <span *ngIf="appointments.status=='pending'" class="ml-1 vertical-align-middle text-warning">{{ appointments.status }}</span>
                    <span *ngIf="appointments.status=='Accepted'" class="ml-1 vertical-align-middle text-success">{{ appointments.status }}</span>
                    <span  *ngIf="appointments.status=='Declined'" class="ml-1 vertical-align-middle text-danger">{{ appointments.status }}</span>
                </td>
                <td>
                    {{ appointments.client.user.phoneno}}
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">None found.</td>
            </tr>
        </ng-template>


    </p-table>
</section>