.hero{
    width: 100%;
    height: 30vh;
}

.appt-dialog p{
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    height: 100%;
}
.diag-text{
    /* height: 100%; */
    width: 45%;
}

.diag-text span{
    font-size: 3rem;
    font-weight: 600;
}

.main{
    margin-top:-6% ;
    width: 90%;
}
.left-profile{
    width: 22%;
    border-radius: 30px 30px;

}
.inner-profile{
    width: 100%;
    background-color: #17224d;
    border-radius: 30px 30px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.2), 0 6px 20px 0 rgba(99, 99, 99, 0.19);

}

.left-profile img{
    width: 100%;
}

.right-profile{
    width: 75%;
    background-color: white;



}

:host {
    ::ng-deep .p-button {
        background-color: #17224d !important;
        color: white !important;
        border: 0;
        border-radius: 7px;
        
    } 
    ::ng-deep .p-dialog{
        flex-direction: column;
    }
}