/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.appt-sect{
    margin-top: 10px;
    height: 100vh;
    overflow-y: auto;
    border: 1px solid #ffffff00;
    scrollbar-width: thin; /* Adjust scrollbar width */
    scrollbar-color: #17224d #ffffff00; /* Adjust scrollbar colors */
}


.panel-hold{
    display: flex;

}

@media (min-width: 499px){
    .panel-hold .main-sect{
        width: 49% !important;
        margin: 3%;
    }
}

@media (max-width: 499px){
    .header{
        width: 100% !important;
    }
    .sub-card{
        width: 29% !important;
    }
    .sub-card span{
        width: 28%;
        padding: 5% !important;
        background-color: transparent !important;
    }

    .services{
        z-index: 2;
    }

    .sub-card  p{
        font-size: 0.67rem !important;
        padding: 1%;
        width: 100%;
        object-fit: contain;
    }
    .sub-card div{
        margin: 0 !important;
        padding: 1% !important;
    }
    .panel-hold {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .herodoctor{
     width: 70% !important;
     position: absolute;
     opacity: 0.3;
     right:0px;
     

    }

    .panel-hold .main-sect{
        width: 95% !important;
    }
    .panel-hold .appt-sect{
        width: 100% !important;
    }

}

.wh1{
    color: white;
}
header{
position: fixed;
z-index: 3;
top: 0;
background-image: linear-gradient(#17224d, transparent);
backdrop-filter: blur(4px);
}

.hero{
    background-image: url('assets/bd.png');
    background-attachment: fixed;
    width: 100%;
    /* height: 100%; */
    background-size:cover;
}
.herotext p{
    color: white;
}
.herobody{
    background-color: #17224db6;

}
.btn-bw{
    color: #17224d;
    background-color: white;
}

.bg-blue{
    background-color: #17224d;
}
.btn-wb{
    background-color: #17224db6;
    border: 0.5px solid white;
    color: white;
}
.btn{
    font-weight: 500;
    margin: 10px;
}
.btn:hover{
    color: white !important;
}
.features .btn:hover{
    color: #17224d !important;

}
.box-shadow-hover:hover{
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


  .herodoctor img{
    width: 100%;
    max-height: 100%;
    align-self: flex-end;
  }
.middle a{
margin:15px;
text-decoration:none;
color: white;
}
.middle a:hover{

}
.heroglass{
    font-size: 0.9rem;
    background-color: rgba(234, 234, 234, 0.29);
    border-radius: 10px 10px 0px 0px;
    border: 0.5px solid white;
   
}
.heroglass h1{
    font-size: 2rem;
}
.services span{
    color: #0055AA;
}
.servicecards .box-shadow-hover{
    width: 25%;

}
.features span{
    color: #0055AA;
}
.text-blue{
    color: #0055AA;
}
.cardimg{
    background-color: #daebfc;
    width: 30%;
   
}
.cardimg img{
    width: 100%;
}
body{
    font-family: "Roboto", sans-serif;
}

.featureset1 img{
    width: 40%;
}
.featureset2 img{
    width: 40%;
}
.set1context{
    text-align: left;
}
.setcontext{
    text-align: left;
}
.testimonialbg{
    background-image: url('assets/testimonialsbg.png');
    background-size: contain;
    background-repeat: no-repeat;
 padding: 10%;
    background-position: center; 
    height: 100%;
}
.heroglass div{
    margin: 10px;
}

.bghold{
    height: 100%;
}
.bghold p{}
.float-right{
    float: right;
}
.testimonials .btn:hover{
    color: #17224d !important;

}
.sideA{
    background-image: url('assets/doctorbg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

.form{
    width: 100%;
}

.form input{
    width: 100%;
}
.form button:hover{
    color: #17224d !important;
}
.innersideA {
    color: #daebfc;
    height: 500px;
    background-image: linear-gradient(  transparent, #0F2E54);

}
.innersideA .text{
    width: 100%;
}
.sideA img{
    width: 40% !important;
}
.form .submit{
width: 100%;
color: white;
background-color: #0055AA !important;
}
.form .submit:hover{
    color: white !important;
    background-color: #17224d !important;  
}

.primary-background{
    background-color: #17224d !important;  

}
.primary-color{
    color: #17224d;
}

.error{
    position: absolute;
    top: 0px;
    right: 0px;
}
.bi-heart-pulse{
    font-size:xx-large
}
.upload-button {
    background-color: #0055AA !important;  
}
.upload-button:hover{
    background-color: #fff !important;  
    color: #17224d;
    
}
.upload-button .spinner-border{
    width: 18px;
    height: 18px;
}

html, body { height: 100%; }
body{ margin: 0;   font-family: "Nunito Sans", sans-serif; }
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulse {
   
    border-radius: 50%;
    padding: 20%;
    animation: pulse 2s infinite;
}
.main-sect{
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
}
.main-sect div{
    width: 100%;
}