.user_type input{
    width: 15px;
    
}
.registerbody {
    padding: 70px;
}
.primary-background{
    background-color: #dddddd  !important;
    border: 0 !important; 
    color: #17224d;

}

.datecard .date{
    padding: 5%;
    border-radius: 5px;
    border: 2px solid #17224d;
}

 .photostep .primary-background{
   width: 100%;

}

.photostep .rounded-circle{
    border: 2px solid #17224d !important;
}
@media (max-width: 799px){
    .holder{
        flex-wrap: wrap;
    }
    .registerbody{
        padding: 0;
    }
}